<%- include("partials/head") %>
</head>
<body>
    <main>
        <%- include("partials/nav") %>
        <section>
            <ul id="list-admins">
                <% admins.forEach(admin => {%>
                <li class="card-admin">
                    <h3>ID: <%- admin.id_admin %></h3>
                    <p>EMAIL: <%- admin.correo %></p>
                    <p>NOMBRE: <%- admin.nombre %></p>
                    <button class="deleteAdminButton" data-id_admin= <%- admin.id_admin %>>Eliminar admin</button>
                </li>
                <% }) %>
            </ul>
            </form>
        </section>
    </main>
    <script src="/js/functions_deleteAdmin.js" type="module"></script>
</body>