<%- include("partials/head") %>
</head>
<body>
    <main>
        <%- include("partials/nav") %>
        <section id="products">
            <ul id="list-products">
                <% products.forEach(product => {%>
                <li class="card-product">
                    <div class = "img-box">
                        <img src="<%- product.imagen %>" alt="<%- product.nombre %>">
                    </div>
                    <h3>ID: <%- product.id_product %></h3>
                    <p><%- product.nombre %></p>
                    <p>$<%- product.precio %></p>
                    <p>ACTIVO: <strong><%- (product.activo) ? "SI" : "NO" %></strong></p>
                </li>
                <% }) %>
            </ul>
        </section>
    </main>
</body>
<script src="https://kit.fontawesome.com/886f04578b.js" crossorigin="anonymous"></script>
<%- include("partials/footer") %>